
  <p class="prozor" align="center" id="notice"><%= notice %></p>

   
  <div class="row medium-6 large-4 small-6 columns prozor">
    <div> 
      <img class="thumbnail slika" src="http://placehold.it/550x550"  style="width:200px;height:250px;"/>
    </div>

    <div >

      <br/>

      <p>
        <strong>Korisnik:</strong>
        <%= @user_telephone.user_id %>
      </p>

      <p>
        <strong>Ime i prezime:</strong>
        <%= @user_telephone.phone_type %>
      </p>
      
      <p>
        <strong>Broj mobitela:</strong>
        <%= @user_telephone.phone_number %>
      </p>

      <p>
        <strong>Skraćeni broj:</strong>
        <%= @user_telephone.phone_number_short %>
      </p>

      <p>
        <strong>Broj telefona:</strong>
        <%= @user_telephone.phone_device %>
      </p>

      <p>
        <strong>E-mail:</strong>
        <%= @user_telephone.state %>
      </p>
    </div>

    <br />




