  <nav class="top-bar" data-topbar role="navigation">
    <h1 class="h11"><a href="#">Imenik</a></h1>
  </nav>

    <!-- razmak između zaglavlja i ostatka-->
    <br />
    <br />

  <div class="row medium-6 large-4 small-6 columns prozor">
    <div> 
      <img class="thumbnail" src="http://placehold.it/550x550"  style="width:200px;height:250px;"/>
    </div>

    <div >

      <br />
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Korisnik:</strong>
        <%= @user_telephone.user_id %>
      </p>

      <p>
        <strong>Ime i prezime:</strong>
        <%= @user_telephone.phone_type %>
      </p>
      
      <p>
        <strong>Broj mobitela:</strong>
        <%= @user_telephone.phone_number %>
      </p>

      <p>
        <strong>Skraćeni broj:</strong>
        <%= @user_telephone.phone_number_short %>
      </p>

      <p>
        <strong>Broj telefona:</strong>
        <%= @user_telephone.phone_device %>
      </p>

      <p>
        <strong>E-mail:</strong>
        <%= @user_telephone.state %>
      </p>
    </div>

    <br />
    <br />

    <div align="right" >
    <%= link_to 'Uredi', edit_user_telephone_path(@user_telephone) %> |    |      
    <%= link_to 'Nazad', user_telephones_path %>
    </div>

  </div>




